#score {
	text-align: center;
}

#game {
	width: 600px;
	height: 300px;
	border: 2px solid black;
	margin: auto;
	/*background-color: purple;*/
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuUN2YmQHqrWnBrMLcU0HkM9dVcj7wHOb1wg&usqp=CAU") ;
	background-size: cover;
}

#dino {
	height: 75px;
	width: 75px;
	position: relative;
	top: 225px;
	/*background-color: green;*/
	background-image: url("https://geekanant.gallerycdn.vsassets.io/extensions/geekanant/chrome-dinosaur-game/0.0.1/1638086697139/Microsoft.VisualStudio.Services.Icons.Default");
	background-size: cover;
}

#rock {
	height: 50px;
	width: 50px;
	position: relative;
	top: 175px;
	left: 550px;
	/*background-color: green;*/
	background-image: url("http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/da268f06e621b21.png");
	background-size: cover;
	animation: rock 1.33s infinite;
}

@keyframes rock {
	0%{left: 550px;}
	100%{left: -50px;}
}

.jump-animation {
	animation: jump 0.5s;
}

@keyframes jump {
	0%{top: 225px;}
	50%{top: 75px;}
	75%{top: 75px;}
	100%{top: 225px;}	
}